<section class="entire-landing-page w-screen h-screen overflow-hidden">
  <!-- 
  <img class="mockup" src="/assets/images/strawberry-can.png" alt="">

  <span class="mockup-text text-3xl">Strawberry</span> -->

  <!-- <div class="canvas-cont h-full w-full">
  <canvas id="canvas3d"></canvas>
  </div> -->

  <div class="screen-dark bg-[#161616] w-screen h-screen flex items-center justify-center relative">
    <div class="screen-light bg-[#C0C0C0] w-0 left-0 h-screen flex items-center justify-center absolute"></div>

    <div class="text-box z-[2] w-full h-full overflow-hidden flex items-center justify-center relative">
      <span
        class="dark-screen-txt absolute z-1 font-[SF-Bold] text-white text-[7rem] md:text-[12rem] lg:text-[15rem] xl:text-[18rem] tracking-wider">DARK</span>
      <span
        class="light-screen-txt absolute z-1 font-[SF-Bold] text-[#161616] text-[7rem] md:text-[12rem] lg:text-[15rem] xl:text-[18rem] tracking-wider">LIGHT</span>
    </div>

    <img class="bottle absolute z-10 lg:w-4/5" src="/assets/images/bottle.png" alt="">
    <img class="leaves-light z-20 absolute" src="/assets/images/leaves-light.png" alt="">
    <img class="leaves-dark z-20 absolute" src="/assets/images/leaves-dark.png" alt="">
  

  </div>

  <div class="screen-light bg-[#C0C0C0] w-screen h-screen flex items-center justify-center relative">

    <span
      class="text-light font-[SF-Bold] text-[#161616] text-[7rem] md:text-[12rem] lg:text-[15rem] xl:text-[18rem] tracking-wider">LIGHT</span>
    <img class="absolute lg:w-4/5" src="/assets/images/bottle.png" alt="">
    <img class="absolute" src="/assets/images/leaves-dark.png" alt="">

  </div>

</section>